#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}

input {
    background: grey
}

#marqueeStyle {
    background-color: blue;
    color: floralwhite;
    pointer-events: stroke;
}

#h1 {
    text-align: left;
    padding-left: 50px;
}

#detalis {
    margin-bottom: 100px;
    text-align: right;
}

#detalis {
    width: 50%;
    padding: 8px;
}

#iframe {
    padding-left: 150px
}

#ramjas {
    width: 1000px;
    height: 300px;
    margin-left: 75px;
    margin-right: 50px;
    margin-bottom: 0px;
}

#ramjas1 {
    width: 700px;
    height: 500px;
    margin-left: 75px;
    margin-right: 50px;
    margin-bottom: 0px;
}

#kdb {
    margin-left: 50px;
    font-family: cursive;
    font-size: 24px;
}

.title {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

hr {
    flex: 1;
}

h3 {
    padding: 0px 48px;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: #ff7700;
}
